@import "tailwindcss";

:root {
  --foreground-rgb: 15, 23, 42;
  /* Slate 900 */
  --background-start-rgb: 248, 250, 252;
  /* Slate 50 */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}